.active-allergy-text {
    color:#000000;
}
.role-text {
    font-size: 11px;
    margin-top: -14px;
}
.inactive-allergy-text {
    color:#797A7A;
    font-weight:300;
}
.allergy-text-left {
    float: left;
    margin-right: 10px;
}
.allergy-text-right {
    font-size: 10px;
    margin-top:3px;
    line-height: 20px;
    text-align: right;
}
#userpic {
    max-height: 100px;
    margin-top: -10px;
}
#user-pic-wrapper {
    text-align: center;
}
.user-allergies-wrapper {
    margin-top: -90px;
    margin-left: -40px;
}
.allergies-header {
    text-align: center;
}
#allergies-container {
    padding: 5px;
    font-weight: 700;
    min-height: 140px;
    margin-top: -10px;
    border-radius: 10px;
    border: solid 1px black;
    -webkit-border-radius: 10px;
	  -moz-border-radius: 10px;
}
.allergy-more-info-row {
    margin-top:-40px;
}
.allergy-mi-wrapper .btn{
    font-size: 14px !important;
    line-height: 5px !important;
}
#sselect {
    width: 100%;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: -20px;
    height: 35px;
    -webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	   border-radius: 10px;
    clear: both !important;
    line-height: 35px;
    background-color:rgba(0,0,0,0.2);
    font-weight: 900;
    color:rgba(255,255,255,1.0);
    
    
}
#typeahead-header {
    float:left !important;
    margin-right:10px;
    margin-left:-100px;
    font-weight:bold;
    font-size:15px;
}
.tt-suggestions div:hover {
    background-color: #1E5799;
    color:#FFF !important;
}

#the-basics {
    float:left;
    margin-right:10px;
    color:#000 !important;
}
.tt-dropdown-menu {
    background-color:#FFF !important;
    width:100%;
    border:solid 1px #000;
}
.open-btn {
    margin-top: 0px;
    line-height: 12px;
    background-color:#fff;
    color:#1E5799;
}
#typeahead-div {
    margin-top: -30px;
    width:400px;
    position: absolute;
    left: 60%;
    margin-left: -200px;
}
.btn-danger {
    position: relative;
    width:100%;
    background:none !important;
    border-color: white !important;
    margin-top: 30px;
    font-weight: 900;
    color: #1E5799;
    text-align: left !important;
    font-size: 20px;
    line-height: 10px;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
}
.btn-danger:hover, .btn-ddanger:active, .btn-danger:focus {
    color: #2989d8 !important;
}
.header-wrapper {
    color:#FFF;
    min-height:70px;
    background: #5C85AD;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}


#medModal .modal-dialog, #encounterModal .modal-dialog, #procedureModal .modal-dialog {
    width:95%;
}
#results-div {
    width:95% !important;
}
.widget-header {
    font-size: 20px;
    background-color: #1E5799;
    line-height: 40px;
    padding-left: 20px;
    border-bottom: solid 4px #7db9e8;
    color:#FFF;
    font-weight: 900;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}
.widget-content {
    margin-top: 20px;
    margin-left: 0px;
    min-height: 150px;
    width:105% !important;
    margin-bottom: -30px;
}
.btn-lg {
    line-height: 13px;
    background: none !important;
    background-color:grey !important;
    border-color:white !important;
    width:95%;
    margin-bottom: 5px;
    margin-left: 2.5%;
}
.widget-header-text {
    margin-bottom: 0px;
}
.widget-header-txt {
    font-weight: bold;
    float: left;
    margin-right: 5px;
    margin-bottom: 0px;
}
#patient-info-wrapper {
    margin-top: -90px;
    background: #FFFFD6;
}
#patient-address-2 {
    margin-left: 65px;
    margin-top: -10px;
}
.patient-header {
    text-align: center;
    font-size: 40px;
}
.widget-wrapper {
    border:solid;
    border-width:3px; 
    border-color:#7db9e8;
    padding:0px;
    
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 16px;
    min-height: 350px !important;
}

.bp-widget{
    border:solid;
    border-width:3px; 
    border-color:#7db9e8;
    padding:0px;
    
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 16px;
    height:auto;
}

.widget-row {
    padding:2px;
}

#username-div {
    float:right;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
}
#login-sub-instrc {
    font-size: 15px;
    font-weight: 600;
}
#login-welcome {
    font-size: 20px;
}
#login-username, #login-password {
    display: none;
}
#usernameInput, #passInput, #passInputRE {
    margin-right: 30px;
    clear: both !important;
    width: 100%;
    margin-top: 20px;
    line-height: 35px;
    -webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	   border-radius: 10px;
    background-color:white;
    font-weight: 900;
    color:black;
}

.login-btn {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: rgba(73,237,55,.7);
    color: #FFF;
}

.logout-btn {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10px;
    background-color: gray;
    color: #FFF;
}

.login-btn:hover {
    background-color: rgba(93,257,75,.7) !important;
    color: gray !important;
}
.login-row {
    width:600px;
    position: relative;
    left:50%;
    margin-left: -300px;
}
.login-centered-row {
    margin-top: 100px;
    background-color: #E1E3E3;
    text-align: center;
    width: 65%;
    position: relative;
    left: 50%;
    margin-left: -30%;
    -webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	   border-radius: 20px;
    color:grey;
    background-color:rgba(225,227,227,0.5);
    border:solid;
    border-width: 1px;
}

.login-body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.login-container {
    height: 100%;
}
#alert-title {
    float:left;
    margin-right:10px;
}
#alert-title, #alert-content {
    font-size:15px;
    margin-top:7px;
} 
#alert-div-wrapper, #alert-div {
    width:100% !important;
}
#top-left-logo {
    width: 60px;
}
.logo-wrapper {
    margin-top: -30px;
}

.footer {
    margin-top: 50px;
    background-color:#5C85AD; 
    color: black;
  	font-weight: bold;
    width:100%;
    bottom: 0;
    position: relative;
    margin:0; padding:0;
}

.website-title {
    width: 500px;
    position: relative;
    top:30px;
}
.author-info-block {
    margin-top: 90px;
}
.single-line-title {
    float:left;
    margin-right: 10px;
    font-weight: 700;
}
.multi-line-title {
    font-weight: 700;
    margin-bottom: -5px;
    margin-top:10px;
}
.multi-line-data-text {
    margin-bottom: -3px;
}
.tt-input, .twitter-typeahead, .tt-hint {
    border-radius: 6px !important;
      -moz-border-radius: 6px;
	   border-radius: 6px;
    width:180px;
}


/* RESPONSIVE CSS
    -------------------------------------------------- */
/* First Screen Shift */
@media screen and (max-width: 1200px) {
    #usernameInput, #passInput, .login-btn, #passInputRE {
        width: 80%;
    }
    #usernameInput, #passInput, #passInputRE {
        margin-left: 30px;
    }
    #sselect {
        width:80%;
    }
}

@media screen and (max-width: 1119px) {
}

@media screen and (max-width: 864px) {
}

/* Second Screen Shift */
@media screen and (max-width: 991px) {

     #usernameInput, #passInput, .login-btn, #passInputRE {
        width: 60%;
    }
    #passInputRE {
        margin-left: 30px;
    }
   .login-body {
	    background-image: url("../img/narrowBackground.jpg");
	    background-repeat: no-repeat;
	    background-size: 100%;
	}
     #sselect {
        width:60%;
    }
}

/* Third Screen Shift  */
@media screen and (max-width: 767px) {
    #usernameInput, #passInput, .login-btn, #passInputRE {
        width: 40%;
    }
    #login-welcome, #login-sub-instrc {
        width: 95%;
        margin-left: 12px;
    }
     #sselect {
        width:40%;
    }

}

/* Fourth Screen Shift */
@media screen and (max-width: 600px) {

}

/* Fith Screen Shift */
@media screen and (max-width: 437px) {
    #login-welcome, #login-sub-instrc {
        width: 85%;
        margin-left: 18px;
    }
     #usernameInput, #passInput, .login-btn, #passInputRE {
        width: 40%;
    }

}
@media screen and (max-width:350px) {
    .login-row {
        width: 190%;
       position: relative;
        left:225px;
    }
}
