#medModal .modal-dialog {
    width:95%;
}
.widget-header {
    margin-left:-15px;
    font-size: 20px;
    background-color: #FC4812;
    line-height: 40px;
    padding-left: 20px;
    border-bottom: solid 4px #AD2A02;
    color:#FFF;
    font-weight: 900;
    width:102.6%;
}
.widget-content {
    margin-top: 20px;
}
.widget-content .collapse {
    margin-top: 40px;
    margin-bottom: 60px;
    border-top:solid 4px green;
    padding-top: 10px;
}
.widget-header-text {
    margin-bottom: 0px;
}
.widget-header-txt {
    font-weight: bold;
    float: left;
    margin-right: 5px;
    margin-bottom: 0px;
}
.widget-wrapper, #patient-info-wrapper {
    min-height: 200px;
    border:solid;
    border-width:1px; 
}
#username-div {
    float:right;
    margin-top: 10px;
    font-size: 20px;
}
#login-sub-instrc {
    font-size: 15px;
    font-weight: 600;
}
#login-welcome {
    font-size: 20px;
}
#login-username, #login-password {
    display: none;
}
#usernameInput, #passInput, #passInputRE {
    margin-right: 30px;
    clear: both !important;
    width: 100%;
    margin-top: 20px;
    line-height: 35px;
    -webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	   border-radius: 10px;
    background-color:rgba(0,0,0,0.2);
    font-weight: 900;
    color:rgba(255,255,255,1.0);
}

.login-btn {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: rgba(73,237,55,.7);
    color: #FFF;
}
.login-btn:hover {
    background-color: rgba(93,257,75,.7) !important;
    color: gray !important;
}
.login-row {
    width:600px;
    position: relative;
    left:50%;
    margin-left: -300px;
}
.login-centered-row {
    margin-top: 100px;
    background-color: #E1E3E3;
    text-align: center;
    width: 65%;
    position: relative;
    left: 50%;
    margin-left: -30%;
    -webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	   border-radius: 20px;
    color:grey;
    background-color:rgba(225,227,227,0.5);
    border:solid;
    border-width: 1px;
}

.login-body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.login-container {
    height: 100%;
}
#alert-title {
    float:left;
    margin-right:10px;
    margin-left:30%;
}
#alert-title, #alert-content {
    font-size:15px;
    margin-top:7px;
} 
#alert-div-wrapper, #alert-div {
    width:100% !important;
}
#top-left-logo {
    width: 100px;
}
.logo-wrapper {
    margin-top: -30px;
}
footer {
    margin-top: 500px;
}
.website-title {
    width: 500px;
    position: relative;
    top:70px;
}
.author-info-block {
    margin-top: 90px;
}
.single-line-title {
    float:left;
    margin-right: 10px;
    font-weight: 700;
}
.multi-line-title {
    font-weight: 700;
    margin-bottom: -5px;
    margin-top:10px;
}
.multi-line-data-text {
    margin-bottom: -3px;
}



/* RESPONSIVE CSS
    -------------------------------------------------- */
/* First Screen Shift */
@media screen and (max-width: 1200px) {
    #usernameInput, #passInput, .login-btn, #passInputRE {
        width: 80%;
    }
    #usernameInput, #passInput {
        margin-left: 30px;
    }
}

@media screen and (max-width: 1119px) {
}

@media screen and (max-width: 864px) {
}

/* Second Screen Shift */
@media screen and (max-width: 991px) {

     #usernameInput, #passInput, .login-btn, #passInputRE {
        width: 60%;
    }
    #passInputRE {
        margin-left: 30px;
    }
   .login-body {
	    background-image: url("../img/narrowBackground.jpg");
	    background-repeat: no-repeat;
	    background-size: 100%;
	}
}

/* Third Screen Shift  */
@media screen and (max-width: 767px) {
    #usernameInput, #passInput, .login-btn, #passInputRE {
        width: 40%;
    }
    #login-welcome, #login-sub-instrc {
        width: 95%;
        margin-left: 12px;
    }

}

/* Fourth Screen Shift */
@media screen and (max-width: 600px) {

}

/* Fith Screen Shift */
@media screen and (max-width: 437px) {
    #login-welcome, #login-sub-instrc {
        width: 85%;
        margin-left: 18px;
    }
     #usernameInput, #passInput, .login-btn, #passInputRE {
        width: 40%;
    }

}
@media screen and (max-width:350px) {
    .login-row {
        width: 190%;
       position: relative;
        left:225px;
    }
}
